# --- Email Configuration ---
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=your-bot-email@gmail.com
SENDER_PASSWORD=your-16-character-app-password

# --- Recipients ---
RECEIVER_EMAILS=your-actual-email@gmail.com, your-other-actual-email@gmail.com

# --- Bot Settings ---
CHECK_INTERVAL_SECONDS=300
TARGET_JOB_TITLES=Amazon Fulfillment Center Warehouse Associate, Amazon Sortation Center Warehouse Associate, Amazon Warehouse Team Member
# Defaulting to search 50 miles around the Las Vegas area
TARGET_LAT=36.1690921
TARGET_LNG=-115.1405767
TARGET_DISTANCE_MILES=50
